{% extends 'base.html' %}

{% block title %}
    Одежда
{% endblock %}

{% block content %}
    <section class="sale center">
        <div class="sale__item">
            <img class="sale_img" src="/static/img/clothing1.jpg" alt="clothing">
        </div>
        <div class="sale__item">
            <img class="sale_img" src="/static/img/clothing2.jpg" alt="clothing">
        </div>
        <div class="sale__item">
            <img class="sale_img" src="/static/img/clothing3.jpg" alt="clothing">
        </div>
    </section>
{% endblock %}