{% extends 'base.html' %}

{% block title %}
    Куртки
{% endblock %}

{% block content %}
    <section class="sale center">
        <div class="sale__item">
            <img class="sale_img" src="/static/img/jacket1.jpg" alt="jacket">
        </div>
        <div class="sale__item">
            <img class="sale_img" src="/static/img/jacket3.jpg" alt="jacket">
        </div>
        <div class="sale__item">
            <img class="sale_img" src="/static/img/jacket2.jpg" alt="jacket">
        </div>
    </section>
{% endblock %}