{% extends 'base.html' %}

{% block title %}
    Обувь
{% endblock %}

{% block content %}
    <section class="sale center">
        <div class="sale__item">
            <img class="sale_img" src="/static/img/shoes1.jpg" alt="shoes">
        </div>
        <div class="sale__item">
            <img class="sale_img" src="/static/img/shoes2.jpg" alt="shoes">
        </div>
        <div class="sale__item">
            <img class="sale_img" src="/static/img/shoes3.jpg" alt="shoes">
        </div>
    </section>
{% endblock %}